# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE
# ======================
.idea/
.vscode/

# ======================
# Environment
# ======================
.env
.env.*
!.env.example

# ======================
# Logs
# ======================
*.log
logs/

# ======================
# Java / Spring
# ======================
.gradle/
build/
out/
*.class

# ======================
# Node
# ======================
node_modules/
dist/
.next/
coverage/

# ======================
# Terraform
# ======================
.terraform/
*.tfstate
*.tfstate.*
crash.log

# ======================
# Temporary
# ======================
tmp/
temp/